<!DOCTYPE html> {% load staticfiles %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="minimal-ui">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'fortune_teller/css/base1.css' %}">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="sidenav">
    <a onclick="scrollToHome()">home</a>
    <a onclick="scrollToAbout()">about</a>
    <a onclick="scrollToReading()">reading</a>
  </div>
  <div id='home' class="container" style="text-align: center;">

  </div>
  <div id='about' class="container" style="text-align: center;">
    <p id='abtext'>Like palm reading and astrology, nostalgia is not just a wistful desire to return in thought or in fact to a former time in one's life. It can help determine what you should look out in the future by studying what you cherish and memories you want to keep.
<br><br>
<strong>Scroll down for Aunt Algia’s nostalgic readings about your future.</strong>
</p>
  </div>
  <div id='reading' class="container" style="text-align: center;">
    <!-- <img id='right_arrow'src="{% static 'fortune_teller/media/arrow.png' %}" alt="">
    <figcaption id='capleft' style="font-family: 'hoefler text'">insignificant</figcaption>
    <img id='left_arrow'src="{% static 'fortune_teller/media/arrow.png' %}" alt="">
    <figcaption id='capright'>nostalgic</figcaption> -->
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
  </div>

  <div id='result' class="container" style="text-align: center;">
    <h3 id='childhood'>childhood</h3>
    <br>
    <h3 id='freedom'>freedom</h3>
    <br>
    <h3 id='love'>love</h3>
  </div>

  <script src='http://hammerjs.github.io/dist/hammer.min.js'>
  </script>
  <script src="{% static 'fortune_teller/js/zenscroll.js' %}">

  </script>
  <script src="{% static 'fortune_teller/js/base1.js' %}"></script>
  </script>
</body>

</html>
